//
// Color Guide SCSS
//

// -----------


$color: (
    Menu-Black: #2B2B2B,
    Menu-Title: #707070,
    Menu-Hidden-Text: #545454,
    Menu-Dark-Grey: #6F6F6F,
    Menu-Medium-Grey: rgb(177, 177, 177),
    Menu-Light-Grey: rgb(206, 206, 206),
    Menu-Green: #92BDBA,
    Block-Title: #6F6F6F,
    Block-Text: #888888,
    Block-Edit-Dots: #D0D0D0,
    Notification-Red: #C75358,
    Profile-Pink: #DF9395
);


    @function color($colorName){
        @return map-get($color, $colorName)
    };