//
//Index.scss
//

// BEM Block__Element--Modifier
// Naming - camelCase


// Imports --
    @import '../Styles/StyleGuide/Colors/ColorGuide.scss';
    @import '../Styles/Menu/Menu.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: montserrat, sans-serif;
    font-style: normal;
    overflow: hidden;
}