//
//Index.scss
//

// BEM Block__Element--Modifier
// Naming - camelCase


// Imports --
    @import '../Styles/StyleGuide/Colors/ColorGuide.scss';
    @import '../Styles/Menu/Menu.scss';
    @import '../Styles/Views/A-Main/Views.scss';
    @import '../Styles/Views/Min-Screen-Size/MinScreenSize.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: montserrat, sans-serif;
    font-style: normal;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-inner {
    position: relative;
    width: 100%;
    max-width: 1900px;
    min-width: 1100px;
    height: 100%;
    max-height: 900px;
    min-height: 500px;
}


// Resets

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


